<!-- GNC Live Well -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0  color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">GNC Live Well</h5>
      <p class="card-text text-center">3906 Twin Creek Dr #101<br>Bellevue, NE 68123</p>
      <a href="https://www.gnc.com/store-details?StoreID=5109" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>