<!-- The Mill Coffee & Tea - Haymarket -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0 color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">The Mill Coffee & Tea - Haymarket</h5>
      <p class="card-text text-center">800 P St #100<br>Lincoln, NE 68508</p>
      <a href="http://www.millcoffee.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- The Mill Coffee & Tea - Prescott -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0  color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">The Mill Coffee & Tea - Prescott</h5>
      <p class="card-text text-center">4736 Prescott Ave<br>Lincoln, NE 68508</p>
      <a href="http://www.millcoffee.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Rutabagas Comfort Food -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0 b color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Rutabagas Comfort Food</h5>
      <p class="card-text text-center">1434 O Street<br>Lincoln, NE 68508</p>
      <a href="https://www.eatrutabagas.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- 3D Nutrition -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0  color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">3D Nutrition</h5>
      <p class="card-text text-center">400 N 48th St B4<br>Lincoln, NE 68508</p>
      <a href="https://3d-lincoln.myshopify.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- The Hub Cafe -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0  color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">The Hub Cafe</h5>
      <p class="card-text text-center">250 N 21st St #3<br>Lincoln, NE 68508</p>
      <a href="http://hubcafelincoln.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>