<!-- BREW Coffee House & Tasting Room -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0  color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">BREW Coffee House & Tasting Room</h5>
      <p class="card-text text-center">318 N Spruce St<br>Valley, NE 68064</p>
      <a href="http://brewcoffeevalley.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>