<!-- Dripped & Draped -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0  color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Dripped & Draped </h5>
      <p class="card-text text-center">6015 Maple St<br>Omaha, NE 68104 </p>
      <a href="https://drippedndraped.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- STIR Coffee -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0  color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">STIR Coffee Bar </h5>
      <p class="card-text text-center">16950 Wright PLZ Ste 137<br>Omaha, NE 68130</p>
      <a href="stircoffeeco.com" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Zen Coffee Coe -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0 color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Zen Coffee Co</h5>
      <p class="card-text text-center">230 S 25th St #3<br>Omaha, NE 68131</p>
      <a href="zen-coffee-co.square.site" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- The Grove Juicery -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0   color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">The Grove Juicery</h5>
      <p class="card-text text-center">2401 Farnam St<br>Omaha, NE 68131</p>
      <a href="thegrovejuicery.com" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Myrtle & Cypress Coffeehouse -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0 color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Myrtle & Cypress Coffeehouse</h5>
      <p class="card-text text-center">517 N 33rd St<br>Omaha, NE 68131</p>
      <a href="https://www.myrtleandcypresscoffee.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>


<!-- 13th Street Coffee & Tea -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0   color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">13th Street Coffee & Tea</h5>
      <p class="card-text text-center">519 S 13th St<br>Omaha, NE 68154</p>
      <a href="https://www.facebook.com/13thStreetCoffeeCompany/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>
<!-- Karma Koffee -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0  color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Karma Koffee</h5>
      <p class="card-text text-center">587 N 155th Plaza<br>Omaha, NE 68154</p>
      <a href="http://places.singleplatform.com/karma-koffee/menu?ref=google" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Village Grinder -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0 color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Village Grinder</h5>
      <p class="card-text text-center">8706 Pacific St<br>Omaha, NE 68154</p>
      <a href="https://www.facebook.com/villagegrinder402" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Howlin’ Hounds -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0   color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Howlin’ Hounds</h5>
      <p class="card-text text-center">712 S 16th St<br>Omaha, NE 68154</p>
      <a href="http://www.howlinhoundscoffee.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Classic Rock Coffee Co. -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0  color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Classic Rock Coffee Co.</h5>
      <p class="card-text text-center">3912 N 72nd St<br>Omaha, NE 68154</p>
      <a href="http://www.classicrockcoffee.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Pettit’s Pastry / Cake Creations -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0   color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Pettit’s Pastry / Cake Creations</h5>
      <p class="card-text text-center">502 N 16th St<br>Omaha, NE 68154</p>
      <a href="https://www.facebook.com/pettits-pastry" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Rexius Nutrition -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0   color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Rexius Nutrition</h5>
      <p class="card-text text-center">12105 West Center Rd<br>Omaha, NE 68154</p>
      <a href="https://www.rexiusnutrition.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Rexius Nutrition -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0   color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Rexius Nutrition</h5>
      <p class="card-text text-center">10926 Emmet Street<br>Omaha, NE 68154</p>
      <a href="https://www.rexiusnutrition.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

<!-- Figure By Faith -->
<article class="col mb-4">
  <div class="vendor card h-100 rounded-0 color--brown">
    <div class="card-body text-center d-flex flex-column justify-content-between">
      <h5 class="card-title text-uppercase color--brown">Figure By Faith</h5>
      <p class="card-text text-center">17825 Pierce Plaza<br>Omaha, NE 68154</p>
      <a href="http://www.figurebyfaith.com/" class="card-link text-center small align-center stretched-link">Website <i class="material-icons">launch</i></a>
    </div>
  </div>
</article>

