<section class=" shopify-section bg--white border-top-0 py-5">
  <div class="container">
  <div class="row">
    <div class="col-12 align-left">
      <h1 class="feature-header h2 align-left feature-header--visible py-4">IT'S DONUT TIME</h1>
      <p class="mw-700 my-2" >
        Gluten free. Natural, whole food sources. Crafted with love.
		<br/><br/>
		You really can’t go wrong—what strikes your fancy?
      </p>
    </div>
  </div>
  </div>
  
  <div class="container my-4">
   <div class="row row-cols-1 row-cols-md-3">
   	<div class="col mb-4">
      <div class="card ">
        <a href="#">
          <img src="https://media.pixelbakery.com/HHH/images/IMG_5804.jpeg" class="card-img" alt="...">
          <div class="pink-skrim"></div>
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h5 class="card-title">ORIGINAL DONUTS</h5>
          </div>
        </a>
      </div>
    </div>
  	<div class="col mb-4">
      <div class="card ">
        <a href="#">
          <img src="https://media.pixelbakery.com/HHH/images/IMG_5804.jpeg" class="card-img" alt="...">
          <div class="pink-skrim"></div>
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h5 class="card-title">VEGAN DONUTS</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card ">
        <a href="#">
          <img src="https://media.pixelbakery.com/HHH/images/IMG_5804.jpeg" class="card-img" alt="...">
          <div class="pink-skrim"></div>
          <div class="card-img-overlay d-flex flex-column justify-content-center">
            <h5 class="card-title">SPECIALTY DONUTS</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col mb-4">
       <div class="card ">
         <a href="#">
           <img src="https://media.pixelbakery.com/HHH/images/IMG_5804.jpeg" class="card-img" alt="...">
           <div class="pink-skrim"></div>
           <div class="card-img-overlay d-flex flex-column justify-content-center">
             <h5 class="card-title">STUFF YA BOX</h5>
           </div>
         </a>
       </div>
     </div>
     <div class="col mb-4">
       <div class="card ">
         <a href="#">
           <img src="https://media.pixelbakery.com/HHH/images/IMG_5804.jpeg" class="card-img" alt="...">
           <div class="pink-skrim"></div>
           <div class="card-img-overlay d-flex flex-column justify-content-center">
             <h5 class="card-title">GIFT CARDS</h5>
           </div>
         </a>
       </div>
     </div>
     <div class="col mb-4">
       <div class="card ">
         <a href="#">
           <img src="https://media.pixelbakery.com/HHH/images/IMG_5804.jpeg" class="card-img" alt="...">
           <div class="pink-skrim"></div>
           <div class="card-img-overlay d-flex flex-column justify-content-center">
             <h5 class="card-title">MERCH</h5>
           </div>
         </a>
       </div>
     </div>
  	</div>
  </div>
</section>

{% schema %}
  {
    "name": "Donut CTA",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
