<section id="innuendo" class=" shopify-section bg--white border-bottom-0 border-top-0 py-0 bg--white h-75">
  <div class="container-fluid px-0 h-100">
    <div class="row no-gutters">
      
      <div class="col-12 mw-700 col-md-6 mx-0 p-3 p-lg-4 d-flex flex-column justify-content-center">
        <h1 class="feature-header h2 align-center feature-header--visible">THE KITCHEN</h1>
       <div class="rte align-center "><p></p>
          <p></p>
          <p class="text-bold lead text-center">Intrinsicly aggregate seamless technology before timely niche markets. Enthusiastically network alternative.</p>
          <h4 class="mt-5">LOCATION & PHONE</h4>
          <h5 class="lead text-center pb-0 mb-0">2215 Leavenworth St<br>Omaha, NE 68102</h5>
          <a href="#"  target="_blank"><small class="text-transform-italic text-center mt-0 pt-0">MAP IT</small> </a>
         <br>
          <h5  class="lead text-center pb-0 mb-0"><a href="tel:14023473050" class="" target="_blank">402.347.3050</a></h5>
        </div>
      </div>
      <div class="col-12 col-md-6 img-right ">
        <img src="https://media.pixelbakery.com/HHH/images/PB-5229.jpg" alt="The kitchen holly bakes the donuts in located in omaha nebraska" class="">
      </div>
    </div>
  </div>
</section>



<section class="shopify-section bg--light-pink border-top-0">
  <div class="text-beside-image cf section-id-1499427088545" data-section-type="text-beside-image">
    
    <div class="text-beside-image__text">
      <div class="text-beside-image__text__wrap align-center padded-block inherit-colors">

        
		
        
        <div class="rte align-center mx-auto px-3 my-2">
        	<h4>PICKUP HOURS</h4>
          <div class="row">
            <div class="col-4 text-left">
              MONDAY
            </div>
            <div class="col-8 text-right">
              7:30am - 10:30am, 3:00pm - 5:00pm 
            </div>
            <div class="col-4 text-left">
              WEDNESDAY
            </div>
            <div class="col-8 text-right">
              7:30am - 10:30am, 3:00pm - 5:00pm 
            </div>
            <div class="col-4 text-left">
              THURSDAY
            </div>
            <div class="col-8 text-right">
              7:30am - 10:30am, 3:00pm - 5:00pm 
            </div>
            <div class="col-4 text-left">
              FRIDAY
            </div>
            <div class="col-8 text-right">
              7:30am - 10:30am, 3:00pm - 5:00pm 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-beside-image__image ">
      <div class="rimage-outer-wrapper fade-in lazyloaded ourstory" data-parent-fit="cover">
        <div class="rimage-wrapper" style="padding-top:118.4528034%">
         
        </div>
      </div>
    </div>
    
  </div>
</section>


{% schema %}
  {
    "name": "About - The Kitchen",
    "settings": [],
 	"presets": [
    {
      "name": "About - The Kitchen",
      "category": "About Page"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
