<section class="shopify-section bg--light-yellow border-bottom-0" id="ourstory">
  <div class="text-beside-image cf section-id-1499427088545" data-section-type="text-beside-image">
    <div class="text-beside-image__image ">
      <div class="rimage-outer-wrapper fade-in lazyloaded ourstory" data-parent-fit="cover">
        <div class="rimage-wrapper" style="padding-top:118.4528034%">
          <img src="https://media.pixelbakery.com/HHH/images/fullsizeoutput_1bb0.jpeg" alt="" class="rimage__image ourstory">
        </div>
      </div>
    </div>
    <div class="text-beside-image__text">
      <div class="text-beside-image__text__wrap align-center padded-block inherit-colors">

        <h1 class="feature-header h2 align-center feature-header--visible">OUR STORY</h1>

        <div class="rte align-left"><p></p>
          <p></p>
          <p class="text-bold lead">Hey, I'm Holly Wiess.</p>
          <p>Donuts are my bliss.  They have always been the object of her affection, and even during her competitive bodybuilding years, one of her favorite “cheat” foods.  </p>
          <p>Now, as a certified Holistic Health Coach with the Institute for Integrative Nutrition, and a certified personal trainer with the American College of Sports Medicine, Holly practices and teaches about balance. </p>
          <p>I believe in delicious pastries and that health is our own responsibility.  She thinks just because you have a food sensitivity, allergy or health goal doesn’t mean you should be left out.  Holly’s vision is to contribute to her community by providing healthy pastry options we didn’t know existed, and more scrumptious options to make self-respecting choices as we take our wellness into our own hands.</p>     
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
