{%- assign ourstory_enable = section.settings.ourstory_enable -%}
{% if ourstory_enable %}
<section id="ourstory" class="container-fluid bg--light-pink">
   {%- assign ourstory_header = section.settings.ourstory_header -%}
   {%- assign ourstory_subhead = section.settings.ourstory_subhead -%}
   {%- assign ourstory_blurb = section.settings.ourstory_blurb -%}
  <div class="row no-gutter d-flex ">
    <div class="col-12 col-md-8 col-xl-6 left order-last flex-fill">
      <div class="container  p-5 d-flex flex-column justify-content-center  h-100">
        <div class="row mx-3 mb-3 pb-3">
          <div class="col-12 col text-left">
            <h1 class="feature-header h2 align-center feature-header--visible py-5">{{ourstory_header}}</h1>
            <p class="text-bold lead">{{ ourstory_subhead }}</p>
            <div class="rte">
            {{ ourstory_blurb }}
          </div>
          </div>

      </div>
      </div>
  </div>
    <div class="col-12 col-md-4 col-xl-6 right  order-md-first mh-75 p-0">
      <img class="object-fit anchor-top" alt="" src="https://media.pixelbakery.com/HHH/images/PB-5423.jpg" />
    </div>
  </div>
</section>
{% endif %}


{% schema %}
  {
    "name": "Our Story",
    "settings": [
    {
      "type": "checkbox",
      "id": "ourstory_enable",
      "label": "Enable Section?",
      "default": true
    },
    {
      "type": "text",
      "id": "ourstory_header",
      "label": "Our Story Title",
      "default": "Our Story"
    },
    {
      "type": "text",
      "id": "ourstory_subhead",
      "label": "Our Story Subtitle",
      "default": "Hey, I'm Holly Wiess."
    },
    {
      "type": "richtext",
      "id": "ourstory_blurb",
      "label": "Our Story Body Copy"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
