<section  class="container-fluid bg--white">
  <div class="row no-gutter d-flex ">
    <div class="col-12 col-md-8 col-xl-6 left order-last order-md-first flex-fill">
      <div class="container  p-5 d-flex flex-column justify-content-center  h-100">
       <div class="row mx-3 mb-3 pb-3">
         <div class="col-12 blue text-left">
           <h2 class="feature-header h2 align-left feature-header--visible pt-3 ml-0">THE KITCHEN</h2>
         </div>
        </div>
        <div class="row mx-3 mb-3 pb-3">
          <div class="col-12 col-md-4 text-left">
            <h4 class="border-bottom pb-2 mr-4 text-left">Location & Contact</h4>
          </div>
          <div class="col-12 col-md-8 text-muted small">
            <p class=" text-left  pb-0 mb-0">2215 Leavenworth St<br>Omaha, NE 68102</p>
            <a href="#"  target="_blank"><small class="text-transform-italic small text-muted text-left mt-0 pt-0">MAP IT</small></a>
            <br/><br/>
            <a href="mailto:holler@hollyshealthyholes.com" target="_blank">holler@hollyshealthyholes.com</a><br/>
            <a href="tel:4023473050" target="_blank">(402) 347-3050</a>
          </div>
          <div class="col-12 col-md-8 text-muted small">

          </div>
        </div>
        <div class="row mx-3 mb-3">
          <div class="col-12 col-md-4 text-left">
            <h4 class="border-bottom pb-2 mr-4 text-left">Pickup Hours</h4>
          </div>
          <div class="col-12 col-md-8 text-muted small">
            <div class="row">
            <div class="col-4 text-left">
              MONDAY
            </div>
            <div class="col-8 text-right">
              7:30am - 10:30am, 3:00pm - 5:00pm
            </div>
            <div class="col-4 text-left">
              WEDNESDAY
            </div>
            <div class="col-8 text-right">
              7:30am - 10:30am, 3:00pm - 5:00pm
            </div>
            <div class="col-4 text-left">
              THURSDAY
            </div>
            <div class="col-8 text-right">
              7:30am - 10:30am, 3:00pm - 5:00pm
            </div>
            <div class="col-4 text-left">
              FRIDAY
            </div>
            <div class="col-8 text-right">
              7:30am - 10:30am, 3:00pm - 5:00pm
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-xl-6 right order-first order-md-last mh-75 p-0">
      <img class="object-fit " alt="the bakery located in lincoln nebraska where the healthy donuts are made" src="https://media.pixelbakery.com/HHH/images/PB-5229.jpg"/>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "About - The Kitchen",
    "settings": [],
 	"presets": [
    {
      "name": "About - The Kitchen",
      "category": "About Page"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
