
 <section id="innuendo" class="container-fluid bg--white">
  <div class="row no-gutter d-flex ">
    <div class="col-12 col-md-8 col-xl-6 left order-first order-md-last flex-fill">
      <div class="container  p-5 d-flex flex-column justify-content-center  h-100">

        <div class="row mx-3 mb-3 pb-3">
          <div class="col-12 col text-left">
            <h1 class="feature-header h2 align-center feature-header--visible py-5">YES, WE KNOW OUR NAME IS AN INNUENDO</h1>
            <p class="align-center">Love it or leave it, we like it that way.
              I mean, c’mon, men do it all the time. Hooters? Just Good Meats? KUM & GO?</p>
            <p class="align-center">If they can do it, why can’t we? Let’s talk about normalizing women’s sexuality!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-xl-6 right order-last order-md-first mh-75 p-0">
      <img class="object-fit anchor-top" alt="" src="https://media.pixelbakery.com/HHH/images/PB-5279.jpg" />
    </div>
  </div>
</section> 
  {% schema %}
  {
    "name": "Innuendo",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
