<section id="vendors" class="container-fluid py-5 bg--light-yellow mx-auto d-flex flex-column justify-content-center p-y-125 p-b-125 mb-0">
 <h1 class="feature-header h2 align-center feature-header--visible">Got Questions? Sweet.</h1>
  <div class="container">
  <div class="row px-5">
  	<div class="col-12 col-md-6 px-5 mx-auto my-2  ">
      <a href="/pages/contact" class="py-4 text-center button--contact d-flex flex-column justify-content-center hvr-float border-0 ">
        <i class="material-icons my-0 py-0">mail_outline</i>
        <span class="my-0 py-0">Contact Us</span>
      </a>
    </div>
    <div class="col-12 col-md-6 px-5 mx-auto my-2  ">
      <a href="/pages/wholesale" class="py-4 text-center button--contact d-flex flex-column justify-content-center hvr-float border-0">
        <i class="material-icons my-0 py-0">storefront</i>
        <span class="my-0 py-0">Wholesale Orders</span>
      </a>
    </div>

  </div>
  </div>

</section>



{% schema %}
  {
    "name": "Got Questions CTA",
    "settings": [],
 	"presets": [
    {
      "name": "Got Questions CTA",
      "category": "About Page"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
