
<section class="container border-bottom-0 py-5 section--reviews">
  <h2 class="feature-header align-left feature-header--visible mb-2">DONUT YOU FORGET ABOUT ME...</h2>
  <p class="lead my-3">Here's what our customers have to say :)</p>
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
</section>
