<section class="sprinkletime-section sprinkletime-section-sm">
    <div class="sprinkletime-container">

      <div class="sprinkle-holder">
        <div class="sprinkle"></div>
      </div>
      <div class="sprinkle-header-holder ">
        <h1 class="sprinkle-header ml16 pl-4 pb-2 pt-2"> {{ section.settings.page_header }}</h1>

      </div>


    </div>
  </section>



  {% schema %}
    {
      "name": "Sprinkle Header",
      "settings": [
      {
        "type": "text",
        "id": "page_header",
        "label": "Page Header",
        "default": "Get Ya Donuts"
      }

      ],
    "presets": [
      {
        "name": "Store Link CTA",
        "category": "About Page"
      }
    ]
    }
  {% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
