<section class="sprinkletime-section sprinkletime-section-sm">
    <div class="sprinkletime-container">

      <div class="sprinkle-holder">
        <div class="sprinkle"></div>
      </div>
      <div class="sprinkle-header-holder ">
        <h1 class="sprinkle-header ml16 pl-4 pb-2 pt-2"> {{ page.title }}</h1>
      </div>

      
    </div>
  </section>



{% schema %}
  {
    "name": "Small Header Sprinkles",
    "settings": [],
 	"presets": [
    {
      "name": "Sprinkles - Small Page Header",
      "category": "Sprinkle Time"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
