:root{
	--hhh-color-pink: #FA9295;
	--hhh-color-lightpink: #F7BAC0;
  	--hhh-color-forestgreen: #526851;
    --hhh-color-lightgreen: #78A077;
  	--hhh-color-lighteryellow: #FFFCF2;
    --hhh-color-darkblue: #464654;
    --hhh-color-lightyellow: #FBE99E;
    --hhh-color-burntyellow: #FFBC00;
  	--hhh-color-brown: #774D4B;
  	--hhh-color-white: #FDFFFC;

    --nav-height: 130px;
}

.bg--light-pink{
 background-color: var(--hhh-color-lightpink);
}
#shopify-section-about-kitchen{
  border-bottom-width: 0px;

}
.featured-header{
    color:  var(--hhh-color-darkblue);
}
a.button--contact{
  border: 3px solid var(--hhh-color-lightpink);
  border-radius: 4px;
}
.img-right, .img-left{
  min-height: 50vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}
.img-right img, .img-left img{

    height: 100%;
  width: 100%;
  object-fit: cover;
}
#kitchen{

}
@media (min-width: 768px) {
  .h-md-100 {height: 100vh;}
}
.btn-round { border-radius: 30px;}
.bg-indigo {background: indigo;}
.text-cyan { color: #35bdff;}

img.object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mh-75{
 max-height: 75vh;
}
.anchor-bottom{
  object-position: 50% 100%;
}
.anchor-top{
  object-position: 50% 25%;
}
button.btn-block:focus{
	outline: none !important;
}
#faq{
	border-top-width:15px;
	border-top-color: var(--hhh-color-lightyellow);
	border-top-style: solid;
}
.highlight img{
	max-width: 75px;
}
.split-text-100{
  min-height: 100vh;
}
.split-text-75{
  min-height: 100vh;
}
.split-text-50{
  min-height: 50vh;
}
.split-image{
 position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 767.98px) {
  .split-image{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 75vh;
  }
}
.section-border-bottom{
	border-bottom-width: 15px;
	border-bottom-style: solid;
	border-bottom-color: var(--hhh-color-lightyellow);
}
.collection-icon{
	height: 100px;
}
