<div class="central content rte">
  <h1 class="feature-header">{{ 'general.404.title' | t }}</h1>
  <p>{{ 'general.404.subtext' | t }} <a href="{{ routes.root_url }}">{{ 'general.404.link' | t }}</a></p>
</div>
