{% section 'sprinkles-sm-header' %}
<section class="container-fluid  bg--white py-3">
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col-12">
        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
</section>

{% section 'section-faq' %}
